﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Main.master.cs" Inherits="Main"  %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
	
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<title>MyFashions</title>
	
	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.css" rel="stylesheet"/>
  <!--  <link href="css/Style.css" rel="stylesheet" />-->
	<!-- Add custom CSS here -->
  <!--  <link href="css/modern-business.css" rel="stylesheet"/>-->     
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet"/>

	<style>
		.header_bg{
	background: #12A5F4;
}
.header{
	padding: 1% 4% 6% 4%;
}
.logo{
	float: left;
}
.cssmenu {
	float: right;
}
.cssmenu > ul > li {
	display:inline-block;
	position: relative;
}
.cssmenu > ul > li.active a{
	color: #ffffff;
}
.cssmenu > ul > li  img {
	vertical-align: middle;
}
.cssmenu > ul > li > a {
	font-family: 'Source Sans Pro', sans-serif;
	display: block;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 1.8em;
	padding: 43px 40px 0 20px;
	-webkit-transition: 0.9s;
	-moz-transition: 0.9s;
	-o-transition: 0.9s;
	transition: 0.9s;
}
.cssmenu > ul > li > a:hover {
	color: #ffffff;
}
.cssmenu > ul > li > ul {
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	color:#fff;
	text-align: left;
	position: absolute;
	top: -10px;
	left: 50%;
	margin-top: 22px;
	margin-left: -90px;
	width: 250px;
	-webkit-transition: all .3s .1s;
	-moz-transition: all .3s .1s;
	-o-transition: all .3s .1s;
	transition: all .3s .1s;
	list-style-type:none;
}
.cssmenu > ul > li:hover > ul {
	opacity: 1;
	top: 60px;
	visibility: visible;  list-style-type:none;
}
.cssmenu > ul ul > li {
	position: relative;  list-style-type:none;
}
.cssmenu ul ul a {
	border-bottom: 1px solid rgb(34, 33, 33);
	list-style-type:none;
	font-family: 'Source Sans Pro', sans-serif;
	color: #ffffff;
	font-size: 14px;
	background: #000000;
	padding: 12px;
	display: block;
	-webkit-transition: 0.9s;
	-moz-transition: 0.9s;
	-o-transition: 0.9s;
	transition: 0.9s;
}
.cssmenu ul ul a:hover {
	background-color: #f0f0f0;
}
.cssmenu ul ul ul {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: -16px;
	left: 206px;
	padding: 8px;
	background-color: #fafafa;
	text-align: left;
	width: 160px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;  list-style-type:none;
}
.cssmenu ul ul > li:hover > ul {
	opacity: 1;
	left: 190px;
	visibility: visible;
}
.cssmenu ul ul a:hover {
	background: #FFFFFF;
	color: #000000;
}
/* display with 840px  */
.top-nav{
	display: none;
}
.nav_bg{
	background: #464646;
}

	</style>
	<!-- JavaScript -->
	<script src="js/jquery-1.10.2.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/modern-business.js"></script>
	<script>
		document.ready(function () {
			$('.dropdown').hover(function () {
				$('.dropdown-toggle', this).trigger('click');
			});
		});</script>
</head>
<body>
	
	<form id="form1" runat="server">
		<asp:ScriptManager ID="scriptmanager1" runat="server"></asp:ScriptManager>
		<div class="header_bg">
<div class="wrap">
	<div class="header">
		<div class="logo">
			<a href="Home.aspx"><img src="images/logo.png" alt=""></a>
		</div>		
	<div class="cssmenu">
		<ul>
		   <li class="active"><a href="Home.aspx">Home</a></li>
				<li><a href="#">Admin Settings</a>
			  <ul>
				 <li class="has-sub"><a href="ViewApps.aspx">Register Application</a></li>
				 <li class="has-sub"><a href="ViewCMC.aspx">CMC Configuration</a></li>
				 <li class="has-sub"><a href="ViewUsers.aspx">User Registration</a></li>
				  <li class="has-sub"><a href="ViewConfidentialKeys.aspx">Confidential Key</a></li>
				   <li class="has-sub"><a href="ViewKeys.aspx">Key Generator</a></li>
				  
			  </ul>
		   </li>
				<li><a href="#">Updates</a>
			  <ul>
				 <li class="has-sub"><a href="AppUpdate.aspx">Application Wise</a></li>
				 <li class="has-sub"><a href="StoreUpdate.aspx">Store Wise</a></li>
				 
			  </ul>
		   </li>
			<li><a href="#">Services</a>
			  <ul>
				 <li class="has-sub"><a href="AppServices.aspx">Application Wise</a></li>
				 <li class="has-sub"><a href="StoreServices.aspx">Store Wise</a></li>
				
			  </ul>
		   </li>
		 
		   <li class="last"><a href="Logout.aspx">Logout</a></li>
		 <div class="clear"></div>
		 </ul>
	</div>
		
	<div class="clear"></div>
	</div>
</div>
</div> 
		   <div>
		
	   <div>
		<asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
		
		</asp:ContentPlaceHolder>
	</div>   
		</div>

		 </form>
</body>
</html>
